$blue-deep: #2b9cd8;
$blue-ocean: #00619a;
$blue-moon: #015383;
$cool-grey: #9ba4aa;
$cool-grey9: #44484c;
$polaris-slim-height: 24px;
$polaris-height: 44px;
$page-margin: 24px;
$mobile-page-margin: 12px;
