<span tabindex="0"></span>
<div class="xc-toast--container" role="document" aria-labelledby="xcToastMessage" aria-describedby="xcToastMessageSub">
    <p class="xc-toast--message">
        <span id="xcToastMessage" class="xc-toast--message-main">
        </span>
        <span id="xcToastMessageSub" class="xc-toast--message-sub">
        </span>
    </p>
    <a href="#" class="xc-toast--action">
    </a>
    <button class="xc-toast--close">
        <span class="xc-screen-reader-text"><%= lang('Close') %></span>
        <%- include('../images/svgs/x.svg'); %>
    </button>
</div>
<span tabindex="0"></span>
